<mat-expansion-panel *ngFor="let eachmodel of allmodel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{eachmodel}}
        </mat-panel-title>
        <mat-panel-description>
            <div class="bg-primary circle" >{{modelSummary[eachmodel]['onshelf']}}</div>
            <div class="bg-success circle" >{{modelSummary[eachmodel]['sold']}}</div>
            <div class="bg-danger circle" >{{modelSummary[eachmodel]['withsomeone'].length}}</div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="d-flex justify-content-between px-4 py-2 rounded text-white my-3 bg-primary">
        <div> On Shelf</div>
        <div>{{modelSummary[eachmodel]['onshelf']}}</div>
    </div>
    <div class="d-flex justify-content-between px-4 py-2 rounded bg-success text-white my-3">
        <div> Sold</div>
        <div>{{modelSummary[eachmodel]['sold']}}</div>
    </div>
    <div class="d-flex justify-content-between px-4 py-2 rounded bg-danger text-white my-3"
    *ngFor="let eachpeople of modelSummary[eachmodel]['people']">
        <div> {{eachpeople.person}}</div>
        <div>{{eachpeople.number}}</div>
    </div>
    <div class="d-flex justify-content-between px-4 py-2 rounded bg-warning text-white my-3">
        <div> Total </div>
        <div>{{modelSummary[eachmodel]['onshelf']+
            modelSummary[eachmodel]['sold']+
            modelSummary[eachmodel]['withsomeone'].length}}</div>
    </div>

</mat-expansion-panel>